
.select-block label,
.input-block label,
.textarea-block label
{
    font-size: 1.4rem;
    color: var(--color-text-complement);
    display: flex; /* ele não colocou esse display no dele */
}

.input-block input,
.select-block select,
.textarea-block textarea
{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0; /* remover ideia de seleção das caixas de select */
    padding: 0 1.6 rem;
    font: 1.6rem Archivo;
}

.textarea-block textarea
{
    padding: 1.2rem 1.6rem;
    height: 16rem;

    resize: vertical;
}

.input-block,
.textarea-block
{
    position: relative;
}

/* quando algum elemento dentro do input-block estiver em foco (selecionado) procure o inputblock e crie nele um elemento html(ideia dinâmica de criar um css) - quando ele é clicado, surge o elemento after*/

.input-block:focus-within::after,
.textarea-block:focus-within:after
{
    content: "";

    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-primary-light);

    position: absolute; /* coloca ele em uma nova camada (por isso você deve definir o posicionamento dele) */
    left: 1.6rem;
    /* right: 1.6rem; ele nao coloca isso tambem*/
    bottom: 0px;
}

label small
{
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: var(--color-small-info);
}